<head>
    <meta charset="utf-8">
    <title>Show Finder</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <main>
        <h1>Show Finder</h1>
        <form method = "POST" action = "/search" class = "searchForm">
            <p>This website is a way to find information on shows you like. You can search for the show's title. It well then display a list of shows that match and their links.</p>
            <label>
                Search Term
                <input type = "text" name = "searchTerm"/>
            </label> <br/>
            <input type = "submit" value = "Search"/>
        </form>
    </main>
</body>