<div id="error_message" class="error" hidden></div>

<form method="POST" id="fib_form">
    <label id="num_label" for="number">Enter Number:</label>
    <input type="number" id="number" name="number"/>
    <button type="submit">Get Fibonacci Number</button>
</form>
<ul id="results"></ul>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="public/js/form.js"></script>