<form id="searchForm" method="POST">
    <div class="inputContainer">
        <label id="term_label" for="search_term">Enter Search Term:</label>
        <input type="text" id="search_term" name="search_term"/>
    </div>

    <button type="submit">Search</button>
</form>
<ul id="showList" hidden></ul>
<div id="show" hidden></div>

<a id="homeLink" href="/" hidden>Back To All Shows</a>


